@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <!--<h2>@ViewBag.Message</h2>-->
</hgroup>
<article>
    <img src="/Images/ShaekirKhzym.jpg" title="Shaekir Ramses Khzym" alt="" height="200" width="300" />
</article>
<section class="contact">
    <header>
        <h2>Shaekir Ramses Khzym </h2>
        <h3> Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>226.921.0079</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:shakerramses@hotmail.com">Shaekir Ramses Khzym</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Ontario<br />
        Canada
    </p>
</section>